ul{
    list-style: none;
    padding-left: 20%;
    font-size: 13px;
    font-family: monospace;
}

li{
    margin-bottom: 16px;

}


.product{
    display:grid;
    grid-template-areas: ' productPicture productSpecs ';
}


#bottom-section{
    display: grid;
    grid-template-areas: 'productDescription-list buttonArea';
    justify-content: space-between;
    align-items: center;

}

#buttonArea{
    display: grid;
    grid-template-areas: 'textAdd' 
                        'addToCart' ;
    justify-items: center;
    justify-content: end;

}

#title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
}

#price{
    margin-top: 1%;
    color: #9B8C7D;
    font-size: 30px;
}

#productPicture{
    width: 40%;
    justify-self: center;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#productSpecs{

    text-align: left;
    padding-left: 8%;
}

#productDescription-box{
    margin-top: 5%;
    margin-bottom: 5%;
    width: auto;
    height: auto;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 20px;
}

#addToCart{
    background-color: #E6E6E6;
    width: 100%;
    height: fit-content;
}

#textAdd{
    font-family: monospace;
    font-weight: 400;
    font-size: 14px;

}

#description{
    font-size: 14px;
    font-family: monospace;
}
